body {
  background: rgb(240, 240, 240);
  color: rgb(150, 150, 150);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1 {
  color: #ff6767;
  font-size: 24px;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 20px;
  color: #ff9393;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
  text-decoration: none;
  color: rgb(200, 200, 200);
}

div {
  background: white;
  width: 500px;
  border-radius: 4px;
  text-align: center;
  margin: 10px auto;
  padding: 20px;

}
.img-round {
  border-radius: 20%;

}

.btn-red {
  background: #DD5555;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: 400;
}


.btn-blue {
  background: #5e8b6f;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: 200;
}


.giphs{
  padding-right: auto;
}

.list-inline {
  list-style: none;
  padding-left: 0;
  margin: auto;
}

.list-inline li {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  font-weight: 300;
}

table p {
  text-align: justify;
}



